<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% include 'base.html' %}
<!DOCTYPE html>
<html>
<head>


<title>buyKev</title>

<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all" />
<link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{{url_for('static',filename='css/font-awesome.css')}}" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="{{url_for('static',filename='js/jquery-1.11.1.min.js')}}"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{{url_for('static',filename='js/move-top.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/easing.js')}}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
	});
});
</script>
<!-- start-smoth-scrolling -->

<meta name="google-site-verification" content="_M35dulfTFBl5dSzaGmvNhuG4xUHfTtHG0h1FunDaeQ" />
</head>
	
<body>
	<style>
		
.thumbnail:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }
  .thumbnail img{
    width:200px;
    height:200px;
    margin-bottom:15px;
    transition: 0.3s ease-in-out;
}
.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;

}


	</style>
<!-- header -->
	<div class="agileits_header">
		<div class="w3l_offers">
			<a href="{{url_for('brand',type='iphone')}}">Today's special Offers !</a>
		</div>
		<div class="w3l_search">
			<form action="{{url_for('search')}}" method="POST">
				<input type="text" name="Product" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
				<input type="submit" value=" ">
			</form>
		</div>
		
		
		<div class="w3l_header_right">
			<ul>
				<li class="dropdown profile_details_drop">
					{% if current_user.is_authenticated %}
					<a href="{{url_for('dashboard')}}" class="btn btn-info btn-sm mt-3" >{{current_user.username}}</a>
					{% endif %}
					
					{% if not  current_user.is_authenticated %}
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-2x" aria-hidden="true"></i><span class="caret"></span></a>
					{% endif %}
					<div class="mega-dropdown-menu">
						<div class="w3ls_vegetables">
							{% if not current_user.is_authenticated %}
							<ul class="dropdown-menu drp-mnu">
								<li><a href="{{url_for('login')}}">Login</a></li> 
								<li><a href="{{url_for('register')}}">Sign Up</a></li>
							</ul>
							{% endif %}
						</div>                  
					</div>	
				</li>
			</ul>
		</div>
		<div class="w3l_header_right1">
			<h2><a href="{{url_for('contact')}}">Contact Us</a></h2>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop(); 
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });
		 
	});
	</script>
<!-- //script-for sticky-nav -->
	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left">
				<h1><a href="{{url_for('home')}}"><span>buyKev.Com</span> Store</a></h1>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					
					<li><a href="{{url_for('about')}}">About Us</a><i>/</i></li>
					<li><a href="{{url_for('terms')}}">Terms and Conditions</a><i>/</i></li>
				
				</ul>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>(+233) 541 570 527</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:kevinfiadzeawu@gmail.com">kevinfiadzeawu@gmail.com</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- banner -->
            
{% with messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}

<div class = "alert alert-success alert-dismissable" role="alert">
	<button type="button" class="close" data-dismiss = "alert" aria-label= "close">

		<span aria-hidden ="true">x</span>
	</button>
	{{message}}

</div>

{% endfor %}
{% endif %}
{% endwith %}



	<div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
			   </div> 
			   <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav nav_1">
						<li><a href="{{url_for('electronics',type='clothing')}}">Clothing</a></li>
						<li><a href="{{url_for('electronics',type='others')}}">Others</a></li>
						<li class="dropdown mega-dropdown active">
							<a href="{{url_for('electronics',type='electronics')}} "    class="dropdown-toggle" data-toggle="dropdown">Electronics<span class="caret"></span></a>				
							<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
								<div class="w3ls_vegetables">
									<ul>	
										<li><a href="{{url_for('electronics',type='electronics_new')}}">New</a></li>
										<li><a href="{{url_for('electronics',type='electronics_old')}}">Used</a></li>
									</ul>
								</div>                  
							</div>				
						</li>
						<li><a href="{{url_for('electronics',type='property')}}">Property</a></li>
						<li><a href="{{url_for('electronics',type='job')}}">Jobs</a></li>
						<li class="dropdown">
							<a href="{{url_for('electronics',type='vehicle_new')}}" class="dropdown-toggle" data-toggle="dropdown">Vehicle<span class="caret"></span></a>
							<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
								<div class="w3ls_vegetables">
									<ul>
										<li><a href="{{url_for('electronics',type='vehicle_old')}}">Used</a></li>
										<li><a href="{{url_for('electronics',type='vehicle_new')}}">New</a></li>
									</ul>
								</div>                  
							</div>	
						</li>
						<li><a href="{{url_for('electronics',type='sports')}}">Sports</a></li>
						<li><a href="{{url_for('electronics',type='education')}}">Education</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">City<span class="caret"></span></a>
							<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
								<div class="w3ls_vegetables">
									<ul>
										<li><a href="{{url_for('accra')}}">Accra</a></li>
										<li><a href="{{url_for('kumasi')}}">Kumasi</a></li>
										<li><a href="{{url_for('takoradi')}}">Sekondi-Takoradi</a></li>
										</ul>
									</li>
								
								</ul>
								
								</div>                  
							</div>	
						</li>
						
					</ul>
					</div>
				 </div><!-- /.navbar-collapse -->
			</nav>
		</div>
		<div class="w3l_banner_nav_right">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="w3l_banner_nav_right_banner">
								
								<div class="more">
									<a href="{{url_for('electronics',type='electronics')}}" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner1">
								
								<div class="more">
									<a href="{{url_for('electronics',type='electronics')}}" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner2">
								
								<div class="more">
									<a href="{{url_for('electronics',type='electronics')}}" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<!-- flexSlider -->
				<link rel="stylesheet" href="{{url_for('static',filename='css/flexslider.css')}}" type="text/css" media="screen" property="" />
				<script defer src="{{url_for('static',filename='js/jquery.flexslider.js')}}"></script>
				<script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
			  </script>
			<!-- //flexSlider -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- banner -->
	<div class="banner_bottom">
			<div class="wthree_banner_bottom_left_grid_sub">
			</div>
			<div class="wthree_banner_bottom_left_grid_sub1">
				<div class="col-md-4 wthree_banner_bottom_left">
					<div class="wthree_banner_bottom_left_grid">
						<a href="{{url_for('electronics',type='electronics')}}"><img src="{{url_for('static',filename='images/2.jpg')}}" alt=" " class="img-responsive" /></a>
						<div class="wthree_banner_bottom_left_grid_pos">
					
						</div>
					</div>
				</div>
				<div class="col-md-4 wthree_banner_bottom_left">
					<div class="wthree_banner_bottom_left_grid">
						<a href="{{url_for('electronics',type='clothing')}}"><img src="{{url_for('static',filename='images/cloth.jpg')}}" alt=" " class="img-responsive" /></a>
						<div class="wthree_banner_btm_pos">
					
						</div>
					</div>
				</div>
				<div class="col-md-4 wthree_banner_bottom_left">
					<div class="wthree_banner_bottom_left_grid">
						<a href="{{url_for('electronics',type='property')}}"><img src="{{url_for('static',filename='images/1.jpg')}}" alt=" " class="img-responsive" /></a>
						<div class="wthree_banner_btm_pos1">
							
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
	</div>
<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
			<h3>Hot Offers</h3>

			{% for row in all_goods %}
			<div class="col-sm-4 text-center">
                
                <div class="thumbnail">
                  <p ><strong>{{row.brand}}</strong></p>
                   
                  <a href="{{url_for('ads',id = row.id)}}" ><img class="img-responsive" src="{{url_for('get_image_accept_promo',id = row.id)}}" alt="" width="250" height="100"></a>		
            
                  <p > <div style="border-color: gainsboro; color: black; border-radius: 50px;">
                    {{row.description}} <p>{{row.city}}</p>
                  
                  </div></p>
            
              <p ><strong>  Price: {{row.price}} </a></strong> </p> 
              </div>
              </div>
			           
		{% endfor %}
        </div>
		</div>
		     
    
		
				</div>
				
				</div>
			
		</div>


<!-- //top-brands -->
<!-- fresh-vegetables -->
	<div class="fresh-vegetables">
		<div class="container">
			<h3>Top Products</h3>
			<div class="w3l_fresh_vegetables_grids">
				<div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
					<div class="w3l_fresh_vegetables_grid2">
						<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('electronics')}}">allm Brands</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('brand',type='iphone')}}">iPhone</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('brand',type='samsung')}}">Samsung</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('brand',type='lg')}}">LG</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('brand',type='infinix')}}">Infinix</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('brand',type='tecno')}}">Tecno</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('brand',type='Motorola')}}">Motorola</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('brand',type='acatel')}}">Acatel</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('brand',type='sony')}}">Sony</a></li>
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('brand',type='htc')}}">HTC</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-9 w3l_fresh_vegetables_grid_right">
					
							{% for row in allm.items %}
							
							<div class="col-sm-4 text-center">
								
								<div class="thumbnail">
								  <p ><strong>{{row.brand}}</strong></p>
								   
								  <a href="{{url_for('ads_link',id = row.id)}}" ><img class="img-responsive" src="{{url_for('get_image_electronics',id = row.id)}}" alt="" width="250" height="100"></a>		
							
								  <p > <div style="border-color: gainsboro; color: black; border-radius: 50px;">
									{{row.description}} <p>{{row.city}}</p>
								  
								  </div></p>
							
							  <p ><strong>  Price: {{row.price}} </a></strong> </p> 
							  </div>
							  </div>

							  
							 {% endfor  %}
						
								
								
							 
			</div>
		</div>
	</div>
	
	<div class="row text-center">
		{%  if allm.has_prev   %}
		<a href="{{url_for('home',page=allm.prev_num)}}" class="btn btn-outline-info btn-sm mt-3" >Previous</a>
  
		{% endif  %}
  
		
	  {%  for page_num in allm.iter_pages()  %}
  
		{% if page_num   %}
	   {% if allm.page == page_num  %}
	   <a href="{{url_for('home',page=page_num)}}" class="btn btn-info btn-sm mt-3" >{{page_num}}</a>
  
	   {% else  %}
	  <a href="{{url_for('home',page=page_num)}}" class="btn btn-outline-info btn-sm mt-3" >{{page_num}}</a>
  
	  {% endif  %}
	 {% else  %}
		...
  
		{% endif  %}
	  {% endfor  %}
  
  
	  {%  if allm.has_next  %}
	  <a href="{{url_for('home',page=allm.next_num)}}" class="btn btn-outline-info btn-sm mt-3" >Next</a>
  
	  {% endif  %}
  
	</div>
	
	</div>

<!-- //fresh-vegetables -->
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="w3agile_newsletter_left">
				<h3>sign up for our newsletter</h3>
			</div>
			<div class="w3agile_newsletter_right">
				<form action="{{url_for('Subscribe')}}" method="POST">
					<input type="email" name="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="subscribe now">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //newsletter -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 w3_footer_grid">
				<h3>information</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="{{url_for('about')}}">About Us</a><i>/</i></li>
					<li><a href="{{url_for('terms')}}">Terms and Conditions</a><i>/</i></li>
				
					<li><a href="{{url_for('brand',type='iphone')}}">Best Deals</a></li>
					
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>policy info</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="faqs.html">FAQ</a></li>
					<li><a href="privacy.html">privacy policy</a></li>
					<li><a href="{{url_for('terms')}}">terms of use</a></li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>what's here</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="{{url_for('electronics',type='electronics')}}">Electronics</a></li>
					<li><a href="{{url_for('electronics',type='clothing')}}">Clothing</a></li>
					<li><a href="{{url_for('electronics',type='sports')}}">Sports</a></li>
					<li><a href="{{url_for('electronics',type='property')}}">Property</a></li>
					<li><a href="{{url_for('electronics',type='job')}}">Jobs</a></li>
					<li><a href="{{url_for('electronics',type='education')}}">Education</a></li>
				</ul>
			</div>
		
			<div class="agile_footer_grids">
				<div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
					<div class="w3_footer_grid_bottom">
						<h4>100% secure payments</h4>
						<img src="images/card.png" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
					<div class="w3_footer_grid_bottom">
						<h5>connect with us</h5>
						<ul class="agileits_social_icons">
							<li><a href="https://web.facebook.com/kelvin.jones.948011/" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://twitter.com/NonstopFacebuk" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/kevin_is_around/" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="wthree_footer_copy">
				<p>© 2021 buykev.com. allm rights reserved | developed by <a href="http://kevinfiadzeawu.000webhostapp.com'/">Kevin Fiadzeawu</a></p>
			</div>
		</div>
	</div>
	
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="{{url_for('static',filename='js/minicart.js')}}"></script>
<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
	
</body>
</html>
